<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

<!--开启对web app的支持-->
 <meta name="apple-mobile-web-app-capable" content="yes" />

<!--主要是正对苹果手机将数字自动识别为号码-->
<meta name="format-detection" content="telephone=no" />

<!-- 忽略识别邮箱，主要是针对安卓手机会自动将符合邮箱格式的字符串识别为邮箱地址-->
<meta content="email=no" name="format-detection" />
<meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL" />

<!-- 添加智能 App 广告条 Smart App Banner：告诉浏览器这个网站对应的app，并在页面上显示下载banner:https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/PromotingAppswithAppBanners/PromotingAppswithAppBanners.html -->

<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">

<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">

<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">

<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">

<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">

<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">

<!-- UC应用模式 -->
<meta name="browsermode" content="application">

<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">

<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">

<title><%= htmlWebpackPlugin.options.title %></title>

<style>
.ms-controller {
  visibility: hidden;
}
</style>

</head>

<body ms-controller="app" class="ms-controller">
<div class="g-doc">
    <div class="g-hd">
      <!-- 搜索栏 start -->
      <div class="m-schbar">
        <div class="ipt">
          <i class="ico ico-sch"></i>
          <input class="u-ipt" type="text" ms-duplex="@data.key | debounce(300)" data-duplex-changed="@fetchItems" />
          <a class="u-btn u-btn-del" href="javascript:;" ms-click="@onCancelClick"><i class="ico ico-del"></i></a>
        </div>
        <a href="javascript:;" class="u-btn u-btn-sch" ms-click="@onCancelClick">{{ @data.i18n.cancel }}</a>
      </div>
      <!-- 搜索栏 end -->
    </div>

    <div class="g-bd">
      <!-- 项目列表 start -->
      <div class="m-prolst">
        <ul class="lst">
          <li class="itm" ms-for="(key, el) in @data.items">
            <div class="sd">
              <div class="poster" ms-css="{ 'background-image': 'url(' + el.img + ')' }"></div>
            </div>
            <div class="mn">
              <h4 class="tt">{{el.name}}</h4>
              <div class="info">
                <div class="row"><p class="txt">{{ @data.i18n.date }}: {{ el.stamp | date('yyyy-MM-dd') }}</p></div>
                <div class="row"><p class="txt">{{ @data.i18n.venue }}: {{ el.venue }}</p></div>
                <div class="row"><p class="txt">{{ @data.i18n.price }}: {{ el.price }}</p></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- 项目列表 end -->
    </div>

    <div class="g-ft">
      <!-- 导航栏 start -->
      <div class="m-navbar">
        <ul class="lst">
          <li class="itm"><a href="javascript:;"><i class="ico ico-home"></i><span class="txt">{{ @data.i18n.home }}</span></a></li>
          <li class="itm"><a href="javascript:;"><i class="ico ico-category"></i><span class="txt">{{ @data.i18n.category }}</span></a></li>
          <li class="itm z-crt"><a href="_views"><i class="ico ico-sch2"></i><span class="txt">{{ @data.i18n.search }}</span></a></li>
          <li class="itm"><a href="_views/setting"><i class="ico ico-me"></i><span class="txt">{{ @data.i18n.me }}</span></a></li>
        </ul>
      </div>
      <!-- 导航栏 end -->
    </div>
</div>

</body>

</html>